body{
    background-color: #9ffee1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background-color: rgba(255, 255, 255, 0.6553);
    width: 50vw;
    height: 50px;
    border-radius: 20px;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 10;
    justify-content: space-around;
    right: 10;
}

.btn{
    margin: 10px;
    padding: 10px;
}

.box{
    background-color: rgba(70, 168, 254, 0.6);
    border-radius: 25px;
    width: 100vw;
    margin-bottom: auto;
    padding-top: 20px;
    background: linear-gradient(to bottom, #4ea5a9, #79c2f5);
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}


.SUN{
    background-color: rgba(255, 162, 0, 0.999);
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.ray{
    background-color: rgba(255, 191, 0, 0.956);
    width: 175px;
    height: 175px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px #ffaa00;
}

.super{
    background-color: rgba(255, 234, 0, 0.779);
    border-radius: 50%;
    height: 195px;
    width: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px #ffd900;
    filter: blur(2px);
    padding: 10px;
}

.conbox{
    height: 58vh;
    width: 90vw;
    border-radius: 50px;
    position: fixed;
    bottom: 60px;
    overflow-y: auto;
    background-color: rgba(0, 200, 255, 0.135); 
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    
}

.temperature{
    display: flex;
    margin: 0;
    text-align: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    color: #ffff;
}