body{
    background-color: #9ffee1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background-color: rgba(255, 255, 255, 0.6553);
    width: 100vw;
    height: 50px;
    border-radius: 20px;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-around;
}

.btn{
    margin: 10px;
    padding: 10px;
}

.box{
    background-color: rgba(70, 168, 254, 0.6);
    border-radius: 10px;
    width: 100vw;
    margin-bottom: auto;
    padding-top: 20px;
    
}


.SUN{
    background-color: rgba(255, 162, 0, 0.999);
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.ray{
    background-color: rgba(255, 191, 0, 0.956);
    width: 175px;
    height: 175px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.super{
    background-color: rgba(255, 234, 0, 0.779);
    border-radius: 50%;
    height: 195px;
    width: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conbox{
    background-color: rgba(255, 255, 255, 0.6553);
    height: 50px;
    width: 50px;
    
}